@{
    ViewBag.Title = "About";
}

<p>A simple ASP.NET MVC project for my personal portfolio</p>

Illustrations by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
